.emptyspace{
    margin-top: 5rem;
    width: 150px;
    height: 150px;
    border: 2px solid black;
    border-radius: 5px;
    padding : 20px;
    text-align: center;
    box-shadow: 2px -2px 10px rgba(7, 2, 2, 0.5);
    margin-left: 550px;
    display: grid;
    place-content: center;
}

.text {
    place-content: center;
    text-align: center;
    
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}